
requests
flask
sqlalchemy==1.2.10
PyMySQL==0.7.11

# We want something like: jaeger-client>=3.8,<4
# But Scope Manager support not officially released in Jaeger at the time of writing.
# This is using branch 'feature/opentracing-2.0-support' in @yurishkuro's fork.
-e git+https://github.com/yurishkuro/jaeger-client-python.git@d631596415cb549a4e8314cc25d6c53fab710528#egg=jaeger-client

# We want something like: opentracing_instrumentation>=2.2,<3
# But Scope Manager support not officially released in opentracing_instrumentation at the time of writing.
# This is using branch 'ot_scopemanager_integration' in @yurishkuro's fork.
-e git+https://github.com/yurishkuro/opentracing-python-instrumentation.git@6bb5db3ea4596869d581513df34533140debb6e8#egg=opentracing_instrumentation

# We want something like: Flask-Opentracing>=1,<2,
# But it does not yet support Scope Managers: https://github.com/opentracing-contrib/python-flask/issues/18
# This is the head commit @ master at the time of writing.
-e git+https://github.com/opentracing-contrib/python-flask.git@c00398411d9c5f4f789e097ab68a6d186f8cbba3#egg=flask_opentracing
