
requests
flask
sqlalchemy==1.2.10
PyMySQL==0.7.11

jaeger-client>=4,<5
opentracing_instrumentation>=3.0.1,<4

# We want: Flask-Opentracing>=1,<2
# Unfortunately, at the time of writing these examples, Flask-Opentracing did not support Scope Managers.
# So instead, we use tag 0.3.0 directly from the GitHub repository:
-e git+https://github.com/opentracing-contrib/python-flask.git@0.3.0#egg=flask_opentracing
